<!--The content below is only a placeholder and can be replaced.-->
<!-- <md-toolbar color="primary">
<button md-icon-button (click)="sidenav.toggle()">
  <md-icon>menu</md-icon>
</button>
<span>Custom Toolbar</span>
</md-toolbar>

<md-sidenav-container class="example-container" >
<md-sidenav #sidenav class="example-sidenav">
<div class="example-sidenav-content">
  <md-icon>lightbulb_outline</md-icon>
  <md-icon>settings_input_composite</md-icon>
  <br>
  <button md-raised-button color="accent" routerLink="/settings/sensor">
    Настройка датчиков
  </button>
  <br>
  <button md-raised-button color="accent" routerLink="/sensor">
    Датчики
  </button>
</div>
</md-sidenav>

<router-outlet class="form"></router-outlet> -->

</md-sidenav-container>
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>
