<div *ngIf="sensors" class="form">
  <!-- <button md-mini-fab><md-icon>add</md-icon></button>
  <md-divider></md-divider> -->
  <md-list>
    <md-list-item *ngFor="let x of sensors">
      <h4 md-line> {{ x.name }} </h4>

      <md-chip-list class="mat-chip-list-stacked">
        <md-chip color="primary" class="chip"><span>{{x.value }} {{x.prefix}}</span></md-chip>
      </md-chip-list>
      <button md-icon-button routerLink="/sensor/{{x.id}}">
        <md-icon class="md-24">timeline</md-icon>
      </button>
    </md-list-item>

  </md-list>
</div>
